{{#*inline "page"}}
<a href="/">Home</a> <br>
<form action="/import/rss" , method="post">
    <input type="text" id="rss_url_input" name="rss_url">
    <label for="rss_url_input">Import RSS Url</label><br>
</form>
{{/inline}}
{{~> layout~}}
