<!doctype html>
<html>

<head>
    <title>Feed Bouncer - {{title}}</title>
</head>

<body>
    <div style="display: flex;">
        <a href="/anime_list">&#x23f4; back to main page</a>
    </div>
    {{~> page~}}
</body>

</html>
