<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feed Bouncer - {{title}}</title>
    <style>
        body {
            background-color: rgb(70, 70, 70);
            font-family: sans-serif;
            color: white;
            margin: 0 !important;
            padding: 0 !important;
        }

        a {
            color: white;
            text-decoration: none;
        }

        a.a_no_style {
            color: white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .items {
            display: flex;
            flex-direction: column;
        }

        .item_group_heading {
            width: 100%;
            border: 5px solid rgb(175, 175, 175);
            padding: 10px;
            box-sizing: border-box;
        }

        .item_table {
            table-layout: fixed;
            width: 100%;
        }

        .item_td_feed {
            width: 30%;
        }

        .item_td_item {
            width: 60%;
        }

        .item_td_read {
            width: 10%;
            text-align: right;
            font-size: small;
        }

        .item_td_read>a {
            color: rgb(139, 139, 139);
        }

        .my_hidden {
            visibility: hidden;
        }

        .link_read {
            color: rgb(139, 139, 139);
        }

        .link_read>a {
            color: rgb(139, 139, 139);
        }
    </style>
</head>

<body>
    {{~> page~}}
</body>

</html>
